body
{ 
    background-color: #141517;
    height:100vh;
    color: rgba(252, 249, 249, 0.87);
    font-family: 'Lora', serif;
    font-weight: 400;
}

.forum,.address_div{
    margin: 20px 120px;
}

label{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    
}

.button{
    padding: 8px;
    color: #1C2C39;
    margin: 16px;
}
