body
{ 
    background-color: #141517;
    height:100vh;
    color: rgba(252, 249, 249, 0.87);
    font-family: 'Lora', serif;
    font-weight: 400;
}


.credential_div{
    margin: 24px auto;
    margin-left: 90px;
    overflow: auto;
}

.credential_div p{
    text-align: justify;
    font-size: 16px;
}

.certificate_img{
    margin: 16px;
    height: 250px;
    width: 80%;
}


@media (min-width:992px){
    


}