
.vision-cont
{
    margin:24px;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: white;
   
}

.vision-cont h3
{
     font-size: 20px;
     text-transform: uppercase;
}


  #div2{
        margin:24px auto;
    }


/*
.padd{
    
    margin-left:70px;
    
}
*/


